name: "Do the benchmark"

on:
  push:
    branches: [ main ]
  schedule:
    - cron: '0 */1 * * *'

jobs:
  perform_benchmark:
    name: "benchmarking api"
    runs-on: windows-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed
          
      - name: install python packages
        run: |
          pip install --upgrade pip
          pip install pillow git+https://github.com/yoshikuniii/pynime.git
          pip install yarl
          
      - name: execute py script # run main.py
        run: |
          python "benchmark.py"
          
      - name: push changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Maid Bot: Benchmark Update"
          file_pattern: "bench_result.png"
          repository: .
          skip_fetch: false
